form{
}
    form > input{
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 0px;
        background:transparent;
        border: none;
        color: #fff;
        border-bottom: 2px solid #fff;
        font-size: 20px;
        line-height: 20px;
    }
        form > input::placeholder{
            color:#fff;
        }
        form > input:focus {
            outline: none;
        }