form{
}
    form > input, form > textarea {
        width: 100%;
        padding: 10px 0px;
        background:transparent;
        border: none;
        border-bottom: 1px solid #9F9999;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        line-height: 20px;
        resize: none;
        margin-bottom: 30px;
        
    }



        form > input::placeholder, form > textarea::placeholder{
            color:#9F9999;
        }
        form > input:focus, form > textarea:focus {
        outline: none;
        border-bottom: 3px solid rgb(38, 161, 38);
        margin-bottom: 28px;
        }

    .form-white {
        color: #fff;
        border-bottom: 1px solid #fff
    }
        .form-white::placeholder, .form-white textarea::placeholder{
            color:#fff;
        }