body, 
body * {
    margin:0;
    padding:0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-background {
    background-image: url(../img/banner-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.hero-content {
    display: inline-block;
    width: 500px;
    margin: 150px calc( (100% - 500px) / 2 ) 20px;
    text-align: center;
}
    #hero .hero-content > * {
        display: inline-block;
        width: 100%;
    }
    #hero .hero-content > form > input {
        width:80%;
    }
    #hero .logo {
        background-image: url(../img/logo.png);
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #hero h1 {
        margin: 40px 0 20px;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
    }
    #hero p {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 20px;
        color: #777;
    }
    #hero .clock {
        margin: 40px 0 60px 0;
        color:white;
    }
        #hero .clock > .clock-block {
            display: inline-block;
            float: left;
            width: 25%;
        }
            #hero .clock > .clock-block > .value {
                font-size: 36px;
            }
            #hero .clock > .clock-block > .title {
                font-size: 20px;
            }

#content {
    display: inline-block;
    width: 100%;
    color: #9F9999;
}
    #content .container {
        display: inline-block;
        width: 800px;
        margin: 40px calc( (100% - 800px) / 2 ) 20px;
    }
        #content .container > .left {
            display: inline-block;
            float: left;
            width: 50%;
        }
        #content .container > .right {
            display: inline-block;
            float: left;
            width: 50%;
            padding-left: 10%;
        }
            #content .form2 {
                margin:20px 0;
                width:100%;
                display: inline-block;
            }    
            .right > div > form > input {
                display: inline-block;
                float: left;
                width: 48%;
            }
                form > textarea{
                    width: 100%;
                } 
                .right > div > div {
                float:right;
            }
                #content  form > input:valid{
                    /* background-color: red; */
                }

            /* .btn {
                margin-top:20px;
            } */

footer {
    background-color: #75C6FB;
    text-align: center;
    
}
    footer > .social {
        display: inline-block;
        width: 800px;
        margin: 20px calc( (100% - 800px) / 2 );
        padding-bottom: 20px;
        border-bottom: 1px solid #FFF;
        position: relative;

    }
    footer > .footer-content {
        display: inline-block;
        width: 800px;
        margin: 0 calc( (100% - 800px) / 2 ) 40px;
    }
    footer > div > i {
        font-size: 20px;
        padding:5px;
    }    
    
        footer > div > i:hover{
                background-color: black;
                color: #75C6FB;
                cursor: pointer;
        }
    .footer-content > img {
        margin-bottom:20px;
    }

    .social > .little-round-shit {
        font-size: 30px;
        width: 40px;
        height: 40px;
        padding: 0;
        line-height: 35px;
        color: #FFF;
        text-decoration: none;
        background-color: #EA1D62;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        right: 0px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }
    



    